[submodule "iot-sensor-simulator"]
	path = iot-sensor-simulator
	url = https://github.com/mgarciap/iot-sensor-simulator.git
[submodule "superset"]
	path = superset
	url = https://github.com/ftahmed/superset.git
[submodule "postgres-docker-cluster"]
	path = postgres-docker-cluster
	url = https://github.com/ftahmed/postgres-docker-cluster.git
[submodule "barman-docker"]
	path = barman-docker
	url = https://github.com/ftahmed/barman-docker.git
